{% extends "header.html" %}
{% block content %}

    {% if instructor %}
    <center>
        <p class="header">ADMIN</p>
    </center>

    <div align="center">
        {% with messages = get_flashed_messages()%}
        {% if messages %}
            <ul class="col-p">
                {% for message in messages %} 
                <li>{{ message }}</li>
                {% endfor %} 
            </ul>
        {% endif %} 
        {% endwith %} 
    </div>

    <center>
        <p class="header">Add To Syllabus</p>
    </center>
    <div align="center">
        <form action='/add_item'>
            <input type="hidden" name = "db" value="Syllabus">
            <input name="topic" value="topic">
            <br>
            <input name="wed_pre_lec" value="Insert Links or TB chapter To Wednesday Pre Lecture Material Seperated with Commas, put in 'None' if there is nothing">
            <br>
            <input name="wed_pre_lec_labels" value="Insert Labels of Above Material Seperated by Comma, if not link simply repeat input">
            <br>
            <input name="thurs_pre_lec" value="Insert Links or TB chapter To Thurday Pre Lecture Material Seperated with Commas, put in 'None' if there is nothing">
            <br>
            <input name="thurs_pre_lec_labels" value="Insert Labels of Above Material Seperated by Comma, if not link simply repeat input">
            <br>
            <input name="wed_lec" value="Insert Links for Wednesday Lecture Material and Recordings Seperated with Commas, put in 'None' if there is nothing">
            <br>
            <input name="wed_lec_labels" value="Insert Labels of Above Material Seperated by Comma, if not link simply repeat input">
            <br>
            <input name="thurs_lec" value="Insert Links for Thurday Lecture Material and Recordings Seperated with Commas, put in 'None' if there is nothing">
            <br>
            <input name="thurs_lec_labels" value="Insert Labels of Above Material Seperated by Comma, if not link simply repeat input">
            <br>
            <input type="submit" name="submit" value="submit">        
        </form>
    </div>

    <center>
        <p class="header">Create Assignment </p>
    </center>
    <div align="center">
        <form action='/add_item'>
            <input type="hidden" name = "db" value="Assignments">
            <input name="pdf" value="pdf">
            <br>
            <input name="tex" value="tex">
            <br>
            <input name="dueDate" value="Due Date">
            <br>
            <input name="weight" value="Weight">
            <br>
            <input name="assignmentDescription" value="Assignment Description">
            <br>
            <input type="submit" name="submit" value="submit">        
        </form>
    </div>

    <center>
        <p class="header">Add to Labs</p>
    </center>
    <div align="center">
        <form action='/add_item'>
            <input type="hidden" name = "db" value="Labs">
            <input name="topic" value="topic">
            <br>
            <input name="handout" value="Insert Link for Handout seperated with commas, if None put 'None'">
            <br>
            <input name="handout_label" value="Insert Labels for Handouts above, if None pup 'None'">
            <br>
            <input name="solutions" value="Insert Link for Solutions seperated with commas, if None put 'None'">
            <br>
            <input name="solutions_label" value="Insert Labels for Handouts above, if None pup 'None'">
            <br>
            <input type="submit" name="submit" value="submit">        
        </form>
    </div>

    <center>
        <p class="header">Update Assignment Grade</p>
    </center>
    <div align="center">
        <form action='/update_student_grade'>
            <input name="aid" value="Assignment #">
            <br>
            <input name="username" value="Student's Username">
            <br>
            <input name="grade" value="Grade Received">
            <br>
            <input type="submit" name="submit" value="submit">
        </form>
    </div>

    <center>
        <p class="header">Student Grades</p>
    </center>

    <center>
        <table>
            <tr> 
                <th>Username</th>
                {% for key, value in assignments.items() %} 
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for key, value in grade_info.items() %} 
            <tr>
                <th>{{ key }}</th>
                {% for g in value %} 
                <th> {{ g[1] }}</th>
                {% endfor %} 
            </tr>
            {% endfor %} 
        </table>
    </center>

    <!--This is for the regrade requests-->
    <center>
        <p class="header">Regrade Requests</p>
        <table>
            <tr>
                <th>Username</th>
                <th>Evaluation</th>
                <th>Reason</th>
                <th>Remove</th>
            </tr>
                {% for key, value in regrades.items() %}
            <tr>
                {% for g in value %}

                <td> {{ g[0] }}</td>
                <td> {{ g[1] }}</td>
                <td> {{ g[2] }}</td>
                <td>
                    <form action="/remove_entry">
                        <input name="delete" value="Remove Regrade {{ key }}" type="submit">
                    </form>
                </td>
                <tr><td><br></td></tr>

                {% endfor %}

            </tr>
            {% endfor %}
        </table>

    </center>


    {% else %}
        <center>
            <p class="header">{{ user }} Marks</p>
        </center>

        <center>
            <table>
                <tr> 
                    <th>Username</th>
                    {% for key, value in assignments.items() %} 
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
                {% for key, value in grade_info.items() %} 
                <tr>
                    <th>{{ key }}</th>
                    {% for g in value %} 
                    <th> {{ g[1] }}</th>
                    {% endfor %} 
                </tr>
                {% endfor %} 
            </table>
        </center>

        <center>
            <a href="/regrade">Click here to submit a regrade request</a>
        </center>
    {% endif %}

{% endblock %}