{% extends "header.html" %}
{% block content %}
<link rel="stylesheet" href="./static/style.css">
<center>
    <form action="/submit_edits">
        <p class = "topic" name="type">{{ type }} {{ id }}</p>
        <input name="db" type="hidden" value="{{ type }}">
        <input type="hidden" name="id" value=" {{ id }}">
        <br>
        {% for key, value in info.items() %}
            {% for item in value[0] %}
                <textarea type="text" name="name_{{ loop.index }}" value="{{ item }}">{{ item }}</textarea>
                <br>
            {% endfor %} 
        {% endfor %}
        <input type="submit" name="submit" value="Submit Changes">        
    </form>
</center>

{% endblock %}
