{% extends "header.html" %}
{% block content %}

    {% if instructor %}
    <center>
        <p class="header">{{ user }} Feedback</p>
    </center>

    <center>
        <div class="resp-table">
            <div class="tableRow"> 
                <div class="tableHeader">Rating</div>
                <div class="tableHeader">Pros of Teaching</div>
                <div class="tableHeader">Cons of teaching</div>
                <div class="tableHeader">Pros of Labs</div>
                <div class="tableHeader">Cons of Labs</div>
            </div>
            {% for key, value in all_feedback.items() %} 
            {% for g in value %} 
            <div class="tableRow">
                <div class="tableData"> {{ g[0] }}</div>
                <div class="tableData"> {{ g[2] }}</div>
                <div class="tableData"> {{ g[3] }}</div>
                <div class="tableData"> {{ g[4] }}</div>
                <div class="tableData"> {{ g[5] }}</div>
            </div>
            {% endfor %} 
            {% endfor %} 
        </div>
    </center>

 

    {% else %}

    <!-- <script src="./static/basic.js"></script> -->
    <body>
        
    
        <center>
            <p class="header">Submit Annonymous Feedback!</p>
        </center>

        <div align="center">
            <form action='/add_to_feedback'>
                <select name="instructor" placeholder="Instructor">
                    {% for key, value in all_instructors.items() %} 
                    <option> {{ key }} </option>
                    {% endfor %}
                    

                </select>
                <br>
                <select name="rating" value="Choose a number">
                    {% for number in range(6) %} 
                    <option> {{ number }} </option>
                    {% endfor %}
                    

                </select>
                <br>
                <textarea name="likeTeach" placeholder="What do you like about chosen instructor's teaching?"></textarea>
                <br>
                <textarea name="impTeach" placeholder="What do you think the chosen instructor could imporve on with regards to their teaching?"></textarea>
                <br>
                <textarea name="likeLab" placeholder="What do you like about chosen instructor's labs?"></textarea>
                <br>
                <textarea name="impLab" placeholder="What do you think the chosen intstructor could improve with reagrds to labs?"></textarea>
                <br>
                
                <input onclick="feedbackSent()" id="sendFeedback" type="submit" name="submit" value="Submit">        
                <script>
                    function feedbackSent() {
                        alert("Feedback Sent Successfully!")
                    }
                </script>
                <!-- <script src="./static/basic.js"></script> -->
            </form>
        </div>

        </body>


    {% endif %}

{% endblock %}