{% extends "instructor_header.html" %}
{% block content %}
        <center>
            <p class="header">HOME</p>
        </center>

        <div class="row">
            <div class="col-left">
                <h1 class="row-header">Course Description</h1>
                <p class="col-pleft">
                    <b>Priority queues:</b> heaps and mergeable heaps. <br>
                <b>Dictionaries:</b> balanced binary search trees, B-trees, hashing. <br>
                <b>Amortization: </b>data structures for managing dynamic tables and disjoint sets. Data structures for representing graphs. Graph searches.<br>
                </p>
                <p class="row-subheader"><b>Exclusions:</b> CSC263H, CSC265H, (CSCC78H) </p>
                <p class = "row-subheader"><b>Prerequisite:</b> CSCB36H or (CSCB38H) & [CGPA 3.5 or enrolment in a CSC subject POSt] <br></p>
            </div>
            <div class="col-right">
                <h1 class="row-header"> Instructor and Contact Info</h1>
                <p class="row-subheader"><b>Instructor: </b> Anna Bretscher </p>
                <p class="row-subheader"><b>Email: </b> anna.bretscher@utoronto.ca </p>
                <p class="row-subheader"><b>Office: </b>IC 493 </p>
                
            </div>

            <div class="col-left">
                <h1 class="row-header"> Lectures</h1>
                <p class="row-subheader">Wednesdays</p>
                <p class="col-pleft">3:00 PM - 4:00 PM <br> <a href="https://utoronto.zoom.us/j/89553548645">Click Here for Zoom Link</a> </p>
                <p class="row-subheader">Thursdays</p>
                <p class="col-pleft">9:10 AM - 11:00 AM <br> <a href="https://utoronto.zoom.us/j/83378932991">Click Here for Zoom Link</a> </p>
 
            </div>
        </div>

{% endblock %}