<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./static/style.css">
    <title>CSCB63</title>
</head>
<body class="dark">

    <div align="center">
        {% with messages = get_flashed_messages()%}
        {% if messages %}
            <ul class="col-p">
                {% for message in messages %} 
                <li>{{ message }}</li>
                {% endfor %} 
            </ul>
        {% endif %} 
        {% endwith %} 

    </div>

    <center>
        <a href="/">
            <p class="header">CSCB63 DESIGN AND ANALYSIS OF DATA STRUCTURES</p>
        </a>
    </center>
    
    <center>
        <p class="header">Instructor Log In </p>
    </center>
    <div align="center">
        <form action='/verify_instructor_user'>
            <input name="username" value="username">
            <br>
            <input name="password" value="password">
            <br>
            <input type="submit" name="submit" value="submit">        
        </form>
    </div>

    <center>
        <a href="/new_instructor_acct">
            Click Here To Create New Account
        </a>
    </center>


</body>