<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./static/style.css">
    <title>CSCB63</title>
</head>

<html>
    <body class="dark">
        <center>
            <a href="/">
                <p class="header">CSCB63 DESIGN AND ANALYSIS OF DATA STRUCTURES</p>
            </a>
        </center>
        
        
        
        <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="calendar.html">Calendar</a></li>
            <li><a href="syllabus.html">Syllabus</a></li>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="labs.html">Labs</a></li>
            <!-- <li><a href="course_team.html">Course Team</a></li> -->
            <li><a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a></li>
            <li><a href="https://markus.utsc.utoronto.ca/">Markus</a></li>
            <li><a href="feedback.html">Feedback</a></li>
        </ul>

        <br>

        <center>
            <p class="header">SYLLABUS</p>
        </center>

        <center>
            <p class="header">Log In Successful</p>
        </center>

                
    </body>

</html>